/* app css stylesheet */

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

body {
	/*
	background: #111111 url(../../bower_components/jquery-ui/themes/dot-luv/images/ui-bg_gloss-wave_20_111111_500x100.png) 50% top repeat-x;
	background: #111111 url(../../bower_components/jquery-ui/themes/dot-luv/images/ui-bg_dots-small_20_333333_2x2.png);
	*/
	background: url(../img/bg/bgb.PNG);
}

.btn {
	position: relative;
}

.container {
	margin-top: 10px;
	position: relative;
	background: #00498f url(../img/bg/bgg.PNG);
	opacity: 0.9;
	border-radius: 20px;
	color: #000000;
	box-shadow: 2px 2px 4px 4px #000000;
}

.item {
	display: block;
	width: 80px;
	height: 80px;
	background: greenyellow;
	border: 3px dotted grey;
}

.dropzone {
	float: left;
	width: 110px;
	min-height: 110px;
	height: auto;
	background: #ffff00;
	border: 3px dotted grey;
	margin-left: 10px;
}

.dropzonen {
	float: left;
	width: 110px;
	min-height: 110px;
	height: auto;
	background: hotpink;
	border: 3px dotted grey;
	margin-left: 10px;
}

.row {
	min-height: 50px;
}

.main {
	min-height: 600px;
}

.img-thumbnail:hover {
	border: 2px lightskyblue solid;
	-moz-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-webkit-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-o-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	-ms-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
	transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}

.acco {
	height: 250px;
}

.tab {
	min-height: 500px;
	max-height: 625px;
	overflow: scroll;
}

.special {
	background: #ffffff;
}