<div class='container' id='1'>

<div class='row' id='11'>

</div>

<div class='row special' id='12'>

	<div class='col-md-12' id='121'>

		<h1>Restaurant Simulation</h1>

	</div>

</div>

<div class='row' id='13'>

</div>

<div class='row main' id='14'>

	<div class='col-md-3' id='141'>

		<script>

		</script>

		<div class='accordion' id='accordion' data-hbo-accordion>

			<h3>stock</h3>

			<div class='acco' id='stock'>

				<img src='img/jinx.jpg' class='img-thumbnail' alt='Jinx' height='90px' width='60px'>

				awesome text

			</div>

			<h3>calendar</h3>

			<div class='acco' id='calendar'>

				<img src='img/white.png' class='img-thumbnail' alt='Jinx' height='90px' width='60px'>

				awesome text

			</div>

			<h3>todo</h3>

			<div class='acco' id='todo'>

				<img src='img/red.png' class='img-thumbnail' alt='Jinx' height='90px' width='60px'>

				awesome text

			</div>

			<h3>master</h3>

			<div class='acco' id='master'>

				<img src='img/abstergo.png' class='img-thumbnail' alt='Jinx' height='90px' width='60px'>

				awesome text is so awesome, that we neeed a scrollplane to display it.

			</div>

		</div>

	</div>

	<div class='col-md-9' id='143'>

		<div class='tab' id='tab' data-hbo-tabs>

			<ul class=''>

				<li class=''>

					<a href='#overview' class=''>

						<span class=''>overview</span>

					</a>

				</li>

				<li class=''>

					<a href='#change' class=''>

						<span class=''>change</span>

					</a>

				</li>

				<li class=''>

					<a href='#options' class=''>

						<span class='' id=''>options</span>

					</a>

				</li>

			</ul>

			<div class='' id='overview'>

				view your X

			</div>

			<div class='' id='change'>

				change your X

			</div>

			<div class='' id='options'>

				change your options

			</div>

			<h1>Hier kommt der Simulator rein!</h1>
		</div>

	</div>

</div>

<div class='row' id='15'>

</div>

<div class='row special' id='16'>

	<div class='col-md-10' id='163'>

		droggelbecher

	</div>

</div>

<div class='row' id='17'>

</div>

</div>