<input ng-click="start()" class='btn btn-default' type='submit' name='submitStart' value="START">
<input ng-click="end()" class='btn btn-default' type='submit' name='submitEnd' value="STOP">

<div>
	Koch
	<img src="img/simulator/cook.png" id="cook_image">
	Kellner
	<img src="img/simulator/waiter.png" id="waiter_image">
	Kunde
	<img src="img/simulator/customer.png" id="customer_image">
	Eingang
	<img src="img/simulator/door.png" id="door_image">
	Feld
	<img src="img/simulator/field.png" id="field_image">
	Herd
	<img src="img/simulator/kitchen.png" id="kitchen_image">
	Tisch
	<img src="img/simulator/table.png" id="table_image">
	Wand
	<img src="img/simulator/wall.png" id="wall_image">
	Lager
	<img src="img/simulator/storage.png" id="storage_image">
</div>

<!--style within the canvas tag because canvas has problems with outside css-->
<div>
	<canvas id="canvas" width="500" height="500" style="border:1px solid #d3d3d3;"></canvas>
</div>