<!doctype html>
<html lang="en" ng-app="simulationApp">
<head>
	<meta charset="utf-8">
	<title>My AngularJS App</title>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="../bower_components/jquery-ui/themes/humanity/jquery-ui.css"/>
</head>
<body>

<div class='container' id='1'>

	<div class='row opac' id='11'>

	</div>

	<div class='row special opac' id='12'>

		<div class='col-md-12' id='121'>

			<h1>Restaurant Simulation</h1>

		</div>

	</div>

	<div class='row' id='13'>

	</div>

	<div class='row main' id='14'>

		<div class='col-md-3' id='141'>

			<script>

			</script>

			<div class='accordion' id='accordion' data-hbo-accordion>

				<h3>Testing Links</h3>

				<div class='acco' id='stock'>

					<ul class="menu">
						<li><a href="#/view1">view1</a></li>
						<li><a href="#/view2">view2</a></li>
						<li><a href="#/view10">view10</a></li>
					</ul>

				</div>

				<h3>Testing Images</h3>

				<div class='acco' id='calendar'>

					<img src='img/white.png' class='img-thumbnail' alt='Jinx' height='90px' width='60px'>

					awesome text

				</div>

				<h3>Testing Filters</h3>

				<div class='acco' id='todo'>

					<img src='img/red.png' class='img-thumbnail' alt='Jinx' height='90px' width='60px'>

					Angular seed app: v<span app-version></span>

				</div>

				<h3>Testing Information</h3>

				<div class='acco' id='master'>

					<img src='img/abstergo.png' class='img-thumbnail' alt='Jinx' height='90px' width='60px'>

					awesome text is so awesome, that we neeed a scrollplane to display it.
					awesome text is so awesome, that we neeed a scrollplane to display it.
					awesome text is so awesome, that we neeed a scrollplane to display it.
				</div>

			</div>

		</div>

		<div class='col-md-9' id='143'>

			<div class='tab' id='tab' data-hbo-tabs>

				<ul class=''>

					<li class=''>

						<a href='#overview' class=''>

							<span class=''>Main View</span>

						</a>

					</li>

					<li class=''>

						<a href='#options' class=''>

							<span class='' id=''>Options</span>

						</a>

					</li>

				</ul>

				<div class='' id='overview'>

					<div ng-view></div>

				</div>

				<div ng-controller="PreController" class='' id='options'>
					<div class="border">
						Um Ihre Änderungen zu laden oder zu speichern, nutzen sie bitte folgende Buttons:
						<input ng-click="load()" class='btn btn-default' type='submit' name='submitLoad' value="Laden">
						<input ng-click="save()" class='btn btn-default' type='submit' name='submitSave'
							   value="Speichern">
						<br> Sie können das Grid per Drag und Drop bearbeiten, indem Sie ein Objekt in ein Feld ziehen,
						genaueres finden Sie im Tutorial.
					</div>
					<div style="margin-top:20px;" class="border">
						<div class="row">
							<div class="col-md-2 col-md-offset-1">
								<div class="peg green" x-lvl-draggable="true" data-color="green">Koch</div>
								<div class="peg red" x-lvl-draggable="true" data-color="red">Lager</div>
								<div class="peg blue" x-lvl-draggable="true" data-color="blue">Kellner</div>
								<div class="peg black" x-lvl-draggable="true" data-color="black">Wand</div>
								<div class="peg grey" x-lvl-draggable="true" data-color="grey">Feld</div>
								<div class="peg yellow" x-lvl-draggable="true" data-color="yellow">Kunde</div>
								<div class="peg brown" x-lvl-draggable="true" data-color="brown">Tür</div>
								<div class="peg magenta" x-lvl-draggable="true" data-color="magenta">Tisch</div>
								<div class="peg orange" x-lvl-draggable="true" data-color="orange">Herd</div>
							</div>

							<div class="col-md-9">
								<div ng-repeat="r in rix">
									<span class="slot circle" ng-repeat="c in cix"
										  x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)" ng-value="r">
									<img src='img/simulator/field.png' class='opac' height='25px' ng-value="c"
										 width='25px'>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>


<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-mocks/angular-mocks.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-loader/angular-loader.js"></script>
<script src="../bower_components/jquery/jquery.js"></script>
<script src="../bower_components/jquery-ui/ui/jquery.ui.accordion.js"></script>
<script src="../bower_components/jquery-ui/ui/jquery.ui.tabs.js"></script>
<script src="../bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="js/app.js"></script>
<!-- old backup files / services and controller in just one file -->
<!--<script src="js/services.js"></script>-->
<!--<script src="js/controllers.js"></script>-->
<script src="js/controllers/pre_controller.js"></script>
<script src="js/controllers/round_controller.js"></script>
<script src="js/services/basic_service.js"></script>
<script src="js/services/pre_service.js"></script>
<script src="js/services/human_service.js"></script>
<script src="js/services/path_service.js"></script>
<script src="js/services/canvas_service.js"></script>
<script src="js/services/uuid_service.js"></script>

<script src="js/filters.js"></script>
<script src="js/directives.js"></script>

<!--<script src="js/prepare_grid.js"></script>                        -->
<!--<script src="js/define_movable_objects.js"></script>-->
<!--<script src="js/handle_movable_objects.js"></script>-->
<!--<script src="js/workerbuilder.js"></script>-->
<!--<script type="text/javascript" src="js/guicontroller.js"></script>-->
</body>
</html>
